.App {
  text-align: center;
}
.chart-container {
  height: 50vh;
}
.averages-container {
  display: flex;
  justify-content: space-around;
}
p.avg {
  border: 8px solid;

  border-radius: 50%;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}

p.avg.humidity {
  color: rgba(106, 127, 219, 1);
  border-color: rgba(106, 127, 219, 1);
}
p.avg.gas {
  color: rgba(224, 141, 172, 1);
  border-color: rgba(224, 141, 172, 1);
}
p.avg.temperature {
  color: rgba(87, 226, 229, 1);
  border-color: rgba(87, 226, 229, 1);
}
